body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36454f;
}

p {
  margin: 0;
}

#root,
.app {
  min-height: 100vh;
  min-width: 100vw;
  height: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: #343434;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.appLoading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.login {
  align-self: center;
}

.login > button {
  background-color: #343434;
  color: white;
  border: 4px solid white;
  border-radius: 8px;
  font-size: 2rem;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
}

.login > button:hover,
.smallButton:hover,
.searchBar > a:hover {
  box-shadow: 1px 0px 18px -2px rgba(255, 255, 255, 0.7);
}

.smallButton,
.searchBar > a {
  background-color: #343434;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
}

input {
  background-color: #343434;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  width: 100%;
}

.navSearch,
.searchBar {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  min-width: 60%;
  color: white;
}

.searchBar {
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
